p{
    color: #242222;
    margin: 10px, 10px, 10px, 10px;
    font-size: 14px;
    font-family: monospace;
    padding: 5px;
}

.container{
    padding: 10px, 10px, 10px, 10px;
    display: flex;
    align-items: right;
    flex-direction: column;
    height: fit-content;
    width: 30vw;
    margin: auto;
    background-color: rgb(245, 237, 237);
    border: #242222 solid 1px;
}